.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

#gallery {
  display: none;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.main-image {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  cursor: pointer;
}

.main_info {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: white;
  font-size: 16px;
  padding: 5px;
  background-color: rgb(80, 50, 52);
}