body {
  min-height: 100vh;
  background-color: rgb(18, 10, 11) !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: rgb(255, 152, 162) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  flex: 1;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

input::placeholder {
  color: rgb(255, 152, 162);
  opacity: 1;
}

footer {
  height: 40px;
  background-color: rgb(80, 50, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

#search {
  background-color: rgb(18, 10, 11);
  padding: 5px;
  color: rgb(255, 152, 162);
}

input::placeholder {
  color: rgb(255, 152, 162);
  opacity: 1;
}


